{
  "parser": "@babel/eslint-parser",
  "extends": [
    "airbnb"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "import/no-unresolved": "off",
    "no-console": "off",
    "global-require": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": ["error", { "functions": false }]
  }
}
